@model Library_Management_System.Models.LibraryDisposalVM

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Details of Library Disposal</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DisposalCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DisposalCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reason)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reason)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MethodOfDisposal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MethodOfDisposal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfDisposal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfDisposal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LibraryEmployee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LibraryEmployee.StaffIdentificationCode)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
